.forecast-display__title {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.forecast-display__last-updated {
	font-size: 12px;
}

.forecast-display__icon {
  margin-right: 8px;
}

.forecast-display__duck-warning {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
